
@font-face{
    font-family: 'fzktjw';
    font-display: swap;
    src: url('/fonts/fzktjw.ttf') format("truetype");
}
@font-face{
    font-family: 'simkai';
    font-display: swap;
    src: url('/fonts/simkai.ttf') format("truetype");
}

body {
    font-family: 'fzktjw','simkai'；
}

