@font-face {
  font-family: "iconfont"; /* Project id 4545811 */
  src: url('//at.alicdn.com/t/c/font_4545811_g6xdws3mzb4.woff2?t=1715671012529') format('woff2'),
       url('//at.alicdn.com/t/c/font_4545811_g6xdws3mzb4.woff?t=1715671012529') format('woff'),
       url('//at.alicdn.com/t/c/font_4545811_g6xdws3mzb4.ttf?t=1715671012529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-csdn48:before {
  content: "\e600";
}

.icon-zhihu:before {
  content: "\eb80";
}
